{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <div class="text-center mb-5">
        <h1 class='mt-2'>Glow & Glam</h1>
        <h2 class="mt-3">Nepal's #1 Skincare & Makeup Store</h2>
    </div>

    <div class="row justify-content-center">
        <!-- Call Us -->
        <div class="col-md-4 text-center mb-4">
            <h4>Give Us a Call</h4>
            <p class="fs-5 mb-1">📞 +977-9818842447</p>
            <p class="fs-5 mb-1">📞 01-5972681</p>
            <p>(Sun to Fri, 9AM to 6PM)</p>
        </div>

        <!-- Email -->
        <div class="col-md-4 text-center mb-4">
            <h4>Send Us a Message</h4>
            <p class="fs-5">✉️ support@glowandglam.com</p>
        </div>

        <!-- Social Media -->
        
    </div>
</div>
{% endblock %}
